body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    text-align: center;
    color: white;
}

div{
    border: 2px solid red;
    border-radius: 20px;
    width: 500px;
    margin:auto
}
